li{
	list-style:none;
}
li span{
	padding-left: 20px;
	cursor: pointer;
  background: url("../img/add.png") no-repeat center left;
}
li ul{
  height:0;
  opacity:0;
  overflow:hidden;
  transition:all .5s linear;
}
.open{ background: url("../img/minus.png") no-repeat center left; }
.open+ul{
  height:90px;
  opacity:1;
}